<li>
	{{burger_name}}
	{{#unless devoured}}
		<button class="ate-it" data-id="{{id}}">Devoured!</button>
	{{/unless}}

	{{!-- <button class="" data-id="{{id}}" data-newsleep="{{devoured}}">
	</button> --}}

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
